<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-app="myApp">

    <heading>
      <div class="container">
        <aside>
          <img src="mad-lib-happy-face.png">
        </aside>
        <section>
          <img src="ng-mad-libs-logo.png">
          <h1>Automate This!</h1>
        </section>
      </div>
      <div style="clear:both"></div>
    </heading>

    <section class="inputs">
      <h2>Please provide the following words:</h2>
      <ul>
        <li>
          <input type="text" ng-model="femaleName" placeholder="female name">
        </li>
        <li>
          <input type="text" ng-model="dirtyTask" placeholder="Dirty task"> 
        </li>
        <li>
          <input type="text" ng-model="badCeleb" placeholder="Obnoxious celebrity">
        </li>
        <li>
          <input type="text" ng-model="jobTitle" placeholder="Job title">
        </li>
        <li>
          <input type="text" ng-model="celeb" placeholder="Celebrity"> 
        </li>
        <li>
          <input type="text" ng-model="bigNum" placeholder="Huge number">
        </li>
        <li>
          <input type="text" ng-model="badTask" placeholder="Tedious task"> 
        </li>
        <li>
          <input type="text" ng-model="badSkill" placeholder="Useless skill">
        </li> 
        <li>
          <input type="text" ng-model="adjective" placeholder="Adjective"> 
        </li>
      </ul>
    </section>

    <section class="story">
      <p>{{femaleName}} was a {{jobTitle}} who loved rabbits, but she hated {{badTask}} and {{dirtyTask}}. She was best friends with {{celeb}}, and he or she told her she should eat {{bigNum | number}} hot dogs.</p>
      <p>This sounded like good advice to her so she did, and she got so sick she had to stay in bed for {{bigNum|number}} days. She spent so much time in bed she learned {{badSkill}}, and realized {{celeb}} was very wise and meant for her to learn something from her mistakes. She just wished it wasn't something so {{adjective}}. Then she met {{badCeleb}} and puked.</p>

    </section>
  </body>
</html>