<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-messages.min.js"></script>
    <script type="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-app="myApp">
    <div class= "containerDiv" ng-controller="oneController">
      <heading>
        <div class="container">
          <aside>
            <img src="mad-lib-happy-face.png">
          </aside>
          <section>
            <img src="ng-mad-libs-logo.png">
            <h1>Automate This!</h1>
          </section>
        </div>
        <div style="clear:both"></div>
      </heading>
      <div class="popup">
        <h1>Please fill out all fields.</h1>
        <h2>You are missing: </h2>
        <h3 ng-if="madForm.name.$error.required"> name </h3>
        <h3 ng-if="madForm.dirtyTask.$error.required"> dirty task </h3>
        <h3 ng-if="madForm.adjective.$error.required"> adjective </h3>
        <h3 ng-if="madForm.jobTitle.$error.required"> job title </h3>
        <h3 ng-if="madForm.celeb.$error.required"> celebrity name </h3>
        <h3 ng-if="madForm.number.$error.required"> huge number </h3>
        <h3 ng-if="madForm.badTask.$error.required"> tedious task </h3>
        <h3 ng-if="madForm.badSkill.$error.required"> useless skill </h3>
        <h3 ng-if="madForm.badCeleb.$error.required"> obnoxious celebrity </h3>
        
      </div>
      <section class="inputs" ng-hide="madForm.$submitted && madForm.$valid">
        <h2>Please provide the following words:</h2>
        <form name="madForm" id="form" novalidate ng-submit="submit()">
          <ul>
            <li>
              <input class="name-field" type="text" ng-model="name" placeholder="Name" name="name" required>
              <label>
                <input type="radio" ng-model="sexMain.name" name="mainSex" value="he">
                Male
              </label>
              <label>
                <input type="radio" ng-model="sexMain.name" name="mainSex" value="she" id="she-main">
                Female
              </label>
            </li>
            <li>
              <input type="text" ng-model="dirtyTask" placeholder="Dirty task" name="dirtyTask" required> 
            </li>
            <li>
              <input type="text" ng-model="adjective" placeholder="Adjective" name="adjective" required> 
            </li>

            <div style="clear:both"></div>
            <li>
              <input type="text" ng-model="jobTitle" placeholder="Job title" name="jobTitle" required>
            </li>
            <li>
              <input type="text" ng-model="celeb" placeholder="Celebrity" name="celeb" required> 
              <label>
                <input type="radio" name="celeb" ng-model="sexCeleb.name" value="he" >
                Male
              </label>
              <label>
                <input type="radio" name="celeb" ng-model="sexCeleb.name" value="she" id="she-celeb">
                Female
              </label>
            </li>
            <li>
              <input type="number" ng-model="bigNum" placeholder="Huge number" name="number" required>
            </li>
            <div style="clear:both"></div>
            <li>
              <input type="text" ng-model="badTask" placeholder="Tedious task" name="badTask" required> 
            </li>
            <li>
              <input type="text" ng-model="badSkill" placeholder="Useless skill" name="badSkill" required>
            </li> 
            <li>
              <input type="text" ng-model="badCeleb" placeholder="Obnoxious celebrity" name="badCeleb" required>
              <label>
                <input type="radio" ng-model="sexBadCeleb.name" value="he">
                Male
              </label>
              <label>
                <input type="radio" ng-model="sexBadCeleb.name" value="she" id="she-bad">
                Female
              </label>
            </li>
            <div style="clear:both"></div>
          </ul>
          <hr>
          <input type="submit" id="submitButton" value="Generate My Mad Lib">
        </form>
        <div style="clear:both"></div>
      </section>

      <section class="story" id="story" ng-show="madForm.$submitted && madForm.$valid">
        <p>{{name}} was a {{jobTitle}} who loved rabbits, but {{sexMain.name}} hated {{badTask}} and {{dirtyTask}}. <span ng-if="sexMain.name ==='she'">She </span><span ng-if="sexMain.name ==='he'">He </span> was best friends with {{celeb}}, and {{sexCeleb.name}}  told {{name}} {{sexMain.name}} should eat {{bigNum | number}} hot dogs.</p>
        <p>This sounded like good advice to {{name}} so {{sexMain.name}} did, and {{sexMain.name}} got so sick {{sexMain.name}} had to stay in bed for {{bigNum|number}} days. <span ng-if="sexMain.name ==='she'">She </span><span ng-if="sexMain.name ==='he'">He </span> spent so much time in bed {{sexMain.name}} learned {{badSkill}}, and realized {{celeb}} was very wise and wanted {{name}} to learn something from <span ng-if="sexMain.name ==='she'">her </span><span ng-if="sexMain.name ==='he'">his </span> mistakes. {{name}} just wished it wasn't something so {{adjective}}. Then {{name}} met {{badCeleb}} and {{sexBadCeleb.name}} offered <span ng-if="sexMain.name ==='she'">her </span><span ng-if="sexMain.name ==='he'">him </span> a hotdog so {{name}}  puked.</p>
        <button id="reset" value="Start Over" ng-click="reset()">Start Over</button>
                <div style="clear:both"></div>
      </section>
    </div>
  </body>
</html>